<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="descripton" content="Web app untuk katalog restoran yang berisikan nama restoran itu deskripsi, foto, rating dan tempat restoran." />
    <link rel="icon" href="./images/heros/restaurant.png" />
    <link rel="apple-touch-icon" href="/icon/fork-128.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="theme-color" content="#db0000" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#title-main" class="skip-link">Skip To Content</a>
    <header id="title-app">
      <div class="header_title">        
        <img src="./images/heros/restaurant.png" alt="icon restaurant" />
        <h1 tabindex="0">Recommended! Resto</h1>
      </div>
      <button id="menu" class="header__menu" aria-label="navigation-menu">☰</button>
      <nav id="drawer" class="nav">
        <ul class="nav_list">
          <li class="nav_item"><a href="#/list">Home</a></li>
          <li class="nav_item"><a href="#/like">Favorite</a></li>
          <li class="nav_item"><a href="https://github.com/fachrul-rh" target="_blank" rel="noopener">About us!</a></li>
        </ul>
      </nav>
    </header>

    <div class="hero">
      <picture>
        <source media="(max-width: 600px)" srcset="./images/heros/hero-image_2-small.jpg">        
        <img class="lazyload" data-src="./images/heros/hero-image_2-large.jpg" alt="hero image" /></img>    
    </picture>
    </div>
    <main id="maincontent">
      <div id="restaurant" class="title_card post"></div>
    </main>
    <footer class="footer">
      <p class="footer-text">Copyright - 2021 - Resto Apps</p>
      <a href="#">Back to the top</a>
    </footer>
  </body>
</html>
